body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.block_div {
    width: 45%;
    display: flex;
    background: #9078b6;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}

.a_click {
    width: 16%;
    display: flex;
    margin: 10px;
    border: 2px solid black;
}
